
.landingPageContainer {
  padding-top: 70px; /* Adjust based on navbar height */
  /* background: url("/techBackground.webp");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  width: 100vw;
  height: 100vh; */
}
